body{
  max-width: 800px;
  margin: auto;

}

footer {
  height: 400px;
  width:  800px;
}

footer, #mynetwork{
  margin-top: 30px;
}

footer p {
  font-family: arial;
  font-size: 20px;
  position: relative;
  margin: 0px;
  width: 400px;
  float: right;
  text-align: center;
  top: 50%;
}

#myChart{
  float: left;
}

.form-div{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.form-div h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

input[type="radio"] + label{
  opacity: 0.6;
  display:inline-block;
  padding: 7px;
  border: none;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
}

.form-div input[type="text"],
.form-div textarea,
.form-div select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.maxNumber{
  width: 47.5% !important;
  float: right !important;
}

.minNumber{
  width: 47.5% !important;
  float: left !important;
}

.form-div textarea{
    resize:none;
    overflow: hidden;
}
.form-div input[type="button"],
.form-div input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-div input[type="button"]:hover,
.form-div input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

#numberOfEdges {
  color: white;
}
